In [1]:
d={"name":"Ani","age":23,"height":45}

In [2]:
for i in d:
    print i

age
name
height

In [3]:
for i in d:
    print i,d[i]

age 23
name Ani
height 45

In [4]:
d.keys()

['age', 'name', 'height']

In [5]:
d.values()

[23, 'Ani', 45]

In [6]:
"age" in d

True

In [7]:
"age" in d.keys()

True

In [8]:
d={"name":"Ani","age":23,"height":45}
23 in d

False

In [9]:
d={"name":"Ani","age":23,"height":45}
23 in d.values()

True

In [11]:
d={"name":"Ani","age":23,"height":45}
print d.has_key("age")

True

In [12]:
d={"name":"Ani","age":23,"height":45}
print d.items()

[('age', 23), ('name', 'Ani'), ('height', 45)]

In [13]:
for item in d.items():
    print item

('age', 23)
('name', 'Ani')
('height', 45)

In [14]:
for item in d.items():
    print item[0],item[1]

age 23
name Ani
height 45

In [15]:
for key,value in d.items():
    print key, value

age 23
name Ani
height 45

In [16]:
for item in enumerate(d):
    print item[0],item[1]

0 age
1 name
2 height

In [17]:
print d.keys()

['age', 'name', 'height']

In [18]:
for i in enumerate(d.keys()):
    print i

(0, 'age')
(1, 'name')
(2, 'height')

In [19]:
d={"name":"Ani","age":23,"height":45}
d.clear()
print d

{}

In [20]:
d={"name":"Ani","age":23,"height":45}
d.pop()
print d

TypeError: pop expected at least 1 arguments, got 0

In [21]:
d={"name":"Ani","age":23,"height":45}
d.pop("age")
print d

{'name': 'Ani', 'height': 45}

In [22]:
d={"name":"Ani","age":23,"height":45}
d.popitem()
print d

{'name': 'Ani', 'height': 45}

In [23]:
d={"name":"Ani","age":23,"height":45}
del d["name"],d["age"]
print d

{'height': 45}

In [24]:
d.remove("age")

AttributeError: 'dict' object has no attribute 'remove'

In [25]:
l1=[1000,2000,3000]
l2=l1
l1.pop()
print l2

[1000, 2000]

In [26]:
l1=[1000,2000,3000]
l2=copy(l1)
l1.pop()
print l2

NameError: name 'copy' is not defined

In [29]:
l1=[1000,2000,3000]
l2=l1
print id(l1)
print id(l2)
l1.pop()
print l2

140277153528360
140277153528360
[1000, 2000]

In [30]:
l1=[1000,2000,3000]
l2=l1[:]
print l1
print l2
print id(l1)
print id(l2)
l1.pop()
print l2

[1000, 2000, 3000]
[1000, 2000, 3000]
140277153571760
140277153527784
[1000, 2000, 3000]

In [31]:
d={"name":"Ani","age":23,"height":45}
d1=d
d.pop("age")
print d1

{'name': 'Ani', 'height': 45}

In [32]:
d={"name":"Ani","age":23,"height":45}
d1=d.copy()
d.pop("age")
print d1

{'age': 23, 'name': 'Ani', 'height': 45}

In [33]:
d={"name":"Ani","age":23,"height":45}
d1=d
print d
print d1
print id(d)
print id(d1)
d.pop("age")
print d1

{'age': 23, 'name': 'Ani', 'height': 45}
{'age': 23, 'name': 'Ani', 'height': 45}
140277154695160
140277154695160
{'name': 'Ani', 'height': 45}

In [34]:
d={"name":"Ani","age":23,"height":45}
d1=d.copy()
print d
print d1
print id(d)
print id(d1)
d.pop("age")
print d1

{'age': 23, 'name': 'Ani', 'height': 45}
{'age': 23, 'name': 'Ani', 'height': 45}
140277154695440
140277153584864
{'age': 23, 'name': 'Ani', 'height': 45}

In [35]:
d={}

In [36]:
d={"name":"Ani","age":23,"height":45}
for k,v in d.items():
    print k,v

age 23
name Ani
height 45

In [37]:
d={"name":"Ani","age":23,"height":45}
for k,v in d.items():
    if v==45:
        d.pop(k)
print d

{'age': 23, 'name': 'Ani'}

In [38]:
d={}
keys=xrange(10)
d1=d.fromkeys(keys,"v1")
print d
print d1

{}
{0: 'v1', 1: 'v1', 2: 'v1', 3: 'v1', 4: 'v1', 5: 'v1', 6: 'v1', 7: 'v1', 8: 'v1', 9: 'v1'}

In [39]:
d={"name":"Ani","age":23,"height":45}
d["name"]="Anil kumar"
print d

{'age': 23, 'name': 'Anil kumar', 'height': 45}

In [41]:
d={"name":"Ani","age":23,"height":45}
d["name"]="Anil kumar1"
print d
d.update({"name":"Anil kumar2"})
print d

{'age': 23, 'name': 'Anil kumar1', 'height': 45}
{'age': 23, 'name': 'Anil kumar2', 'height': 45}

In [42]:
d.setdefault("name2","Anilkumar3")
print d

{'age': 23, 'name2': 'Anilkumar3', 'name': 'Anil kumar2', 'height': 45}

In [44]:
d={"name":"Ani","age":23,"height":45}
d.setdefault("name","anil kumar")
print d

{'age': 23, 'name': 'Ani', 'height': 45}

In [45]:
d={"name":"Ani","age":23,"height":45}
d.setdefault("name2","anil kumar")
print d

{'age': 23, 'name2': 'anil kumar', 'name': 'Ani', 'height': 45}

In [46]:
d={"name":"Ani","age":23,"height":45}
d["pan"]="BRCPR244556"
print d
d.update({"passport":"fdgrw324235"})
print d
d.setdefault("adhar","1423wert4352345")
print d

{'age': 23, 'name': 'Ani', 'pan': 'BRCPR244556', 'height': 45}
{'age': 23, 'passport': 'fdgrw324235', 'name': 'Ani', 'pan': 'BRCPR244556', 'height': 45}
{'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}

In [47]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
print d["age"]

23

In [48]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
print d["phone"]

KeyError: 'phone'

In [50]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
print d.get("phone")

 None

In [51]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
print d.get("phone","00000000")

00000000

In [52]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
print d.get("age","00000000")

23

In [53]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
print d.pop("age")

23

In [54]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
print d.pop("phone")

KeyError: 'phone'

In [55]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
print d.pop("phone","000000")

000000

In [58]:
# normal, iter, view
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
print "ITEMSSSS","*"*20
for k,v in d.items():
    print k,v
print "ITER ITEMSSSS","*"*20
for k,v in d.iteritems():
    print k,v
print " VIEW  ITEMSSSS","*"*20
for k,v in d.viewitems():
    print k,v

ITEMSSSS ********************
name Ani
age 23
height 45
adhar 1423wert4352345
passport fdgrw324235
pan BRCPR244556
ITER ITEMSSSS ********************
name Ani
age 23
height 45
adhar 1423wert4352345
passport fdgrw324235
pan BRCPR244556
 VIEW  ITEMSSSS ********************
name Ani
age 23
height 45
adhar 1423wert4352345
passport fdgrw324235
pan BRCPR244556

In [59]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
print d.items()
print d.iteritems()
print d.viewitems()

[('name', 'Ani'), ('age', 23), ('height', 45), ('adhar', '1423wert4352345'), ('passport', 'fdgrw324235'), ('pan', 'BRCPR244556')]
<dictionary-itemiterator object at 0x7f94d1f04e68>
dict_items([('name', 'Ani'), ('age', 23), ('height', 45), ('adhar', '1423wert4352345'), ('passport', 'fdgrw324235'), ('pan', 'BRCPR244556')])

In [61]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
for i in d.items():
    print i

('name', 'Ani')
('age', 23)
('height', 45)
('adhar', '1423wert4352345')
('passport', 'fdgrw324235')
('pan', 'BRCPR244556')

In [62]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
for i in d.iteritems():
    print i

('name', 'Ani')
('age', 23)
('height', 45)
('adhar', '1423wert4352345')
('passport', 'fdgrw324235')
('pan', 'BRCPR244556')

In [63]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
for i in d.keys():
    print d[i]

Ani
23
45
1423wert4352345
fdgrw324235
BRCPR244556

In [64]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
for i in d:
    print d[i]

Ani
23
45
1423wert4352345
fdgrw324235
BRCPR244556

In [65]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
di = d.iteritems()
for i in di:
    print i

('name', 'Ani')
('age', 23)
('height', 45)
('adhar', '1423wert4352345')
('passport', 'fdgrw324235')
('pan', 'BRCPR244556')

In [66]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
di = d.iteritems()
for i in di:
    print i
print "iterating second time"
for j in di:
    print j

('name', 'Ani')
('age', 23)
('height', 45)
('adhar', '1423wert4352345')
('passport', 'fdgrw324235')
('pan', 'BRCPR244556')
iterating second time

In [67]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
di = d.iteritems()
for i in di:
    print i
print "iterating second time"
for j in di:
    print j
di1=d.iteritems()
print "iterating third time"
for j in di1:
    print j

('name', 'Ani')
('age', 23)
('height', 45)
('adhar', '1423wert4352345')
('passport', 'fdgrw324235')
('pan', 'BRCPR244556')
iterating second time
iterating third time
('name', 'Ani')
('age', 23)
('height', 45)
('adhar', '1423wert4352345')
('passport', 'fdgrw324235')
('pan', 'BRCPR244556')

In [68]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
di = d.iteritems()
d.pop("adhar")
for i in di:
    print i

RuntimeError: dictionary changed size during iteration

In [69]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
di = d.iteritems()
d.pop("adhar")
di=d.iteritems()
for i in di:
    print i

('name', 'Ani')
('age', 23)
('height', 45)
('passport', 'fdgrw324235')
('pan', 'BRCPR244556')

In [71]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
dv = d.viewitems()
d.pop("adhar")
for i in dv:
    print i

('name', 'Ani')
('age', 23)
('height', 45)
('passport', 'fdgrw324235')
('pan', 'BRCPR244556')

In [72]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
dv = d.viewitems()
d.pop("adhar")
for i in dv:
    print i
print "iterating second time"
for i in dv:
    print i

('name', 'Ani')
('age', 23)
('height', 45)
('passport', 'fdgrw324235')
('pan', 'BRCPR244556')
iterating second time
('name', 'Ani')
('age', 23)
('height', 45)
('passport', 'fdgrw324235')
('pan', 'BRCPR244556')

In [74]:
d={'name': 'Ani', 'age': 23, 'height': 45, 'adhar': '1423wert4352345', 'passport': 'fdgrw324235', 'pan': 'BRCPR244556'}
dv = d.viewitems()
d.pop("adhar")
for i in dv:
    print i
print "iterating second time"
for i in dv:
    print i
d.pop("name")
d.pop("height")
print "Iterating after removing three keys"
for i in dv:
    print i

('name', 'Ani')
('age', 23)
('height', 45)
('passport', 'fdgrw324235')
('pan', 'BRCPR244556')
iterating second time
('name', 'Ani')
('age', 23)
('height', 45)
('passport', 'fdgrw324235')
('pan', 'BRCPR244556')
Iterating after removing three keys
('age', 23)
('passport', 'fdgrw324235')
('pan', 'BRCPR244556')

In [75]:
d={1:2,3:4,1:10}

In [77]:
d={1:2,3:4,1:10}
print d

{1: 10, 3: 4}

In [78]:
d={1:2,3:4,1:10,1:20,1:30,1:40,1:50}
print d

{1: 50, 3: 4}

In [79]:
l1=[10,20,30,40]
l2=[50,60,70,80]
print [i+j for i,j in zip(l1,l2)]

[60, 80, 100, 120]

In [80]:
l1=[10,20,30,40]
l2=[50,60,70,80]
print [i+j for i,j in zip(l1,l2)]
print (i+j for i,j in zip(l1,l2))

[60, 80, 100, 120]
<generator object <genexpr> at 0x7f94d1f5a320>

In [81]:
l1=[10,20,30,40]
l2=[50,60,70,80]
lc=[i+j for i,j in zip(l1,l2)]
tc=(i+j for i,j in zip(l1,l2))
for i in lc:
    print i

60
80
100
120

In [83]:
l1=[10,20,30,40]
l2=[50,60,70,80]
lc=[i+j for i,j in zip(l1,l2)]
tc=(i+j for i,j in zip(l1,l2))
print lc
print tc
for i in lc:
    print i
print "*"*30
for i in tc:
    print i

[60, 80, 100, 120]
<generator object <genexpr> at 0x7f94d1f5a690>
60
80
100
120
******************************
60
80
100
120

In [84]:
keys=range(10)
values=map(lambda x:x**2,keys)
print keys
print values

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [85]:
f=lambda x:x**2
f(10)

100

In [86]:
def fun(x):
    return x**2
f=lambda x:x**2
print f(10)
print fun(10)

100
100

In [87]:
keys=range(10)
def fun(x):
    return x**2
values=map(fun,keys)
print keys
print values

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [88]:
keys=range(10)
fun=lambda x:x**2
values=map(fun,keys)
print keys
print values

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [89]:
def fun(x):
    if x%2==0:
        return "EVEN"
    else:
        return "ODD"
print map(fun,range(10))

['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [90]:
def fun(x):
    return "EVEN" if x%2==0 else "ODD"
print map(fun,range(10))

['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [91]:
fun=lambda x: "EVEN" if x%2==0 else "ODD"
print map(fun,range(10))

['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [92]:
print map(lambda x: "EVEN" if x%2==0 else "ODD",range(10))

['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [93]:
import keyword
print keyword.kwlist

['and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'exec', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'not', 'or', 'pass', 'print', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [94]:
fun=lambda x: "EVEN" if x%2==0 else "ODD";print "hi"
print map(fun,range(10))

hi
['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [96]:
fun=lambda a,b:"odd";d=a+b;e=a-b;f=a*b
print map(fun,range(10),ramge(10,20))

NameError: name 'a' is not defined

In [98]:
fun=lambda x: "EVEN" if x%2==0 else "ODD";x+20
print map(fun,range(10))

NameError: name 'x' is not defined

In [99]:
fun=lambda x: "EVEN" if x%2==0 else "ODD"
print "hi"
print map(fun,range(10))

hi
['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [100]:
fun=lambda x: "EVEN" if x%2==0 else "ODD"
print map(fun,range(10))

['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [101]:
fun=lambda x: "EVEN" if x%2==0 else "ODD"
for i in range(10):
    print fun(i)

EVEN
ODD
EVEN
ODD
EVEN
ODD
EVEN
ODD
EVEN
ODD

In [102]:
fun=lambda x: "EVEN" if x%2==0 else "ODD"
print map(fun,range(10))

['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [105]:
def fun(x):
    return "EVEN"
print map(fun,range(10))

['EVEN', 'EVEN', 'EVEN', 'EVEN', 'EVEN', 'EVEN', 'EVEN', 'EVEN', 'EVEN', 'EVEN']

In [107]:
l1=range(10)
l2=range(10,20)
res=[]
for i,j in zip(l1,l2):
    res.append(i+j)
print res

print [i+j for i,j in zip(l1,l2)]
def fun(x,y):
    return x+y
res=[]
for i,j in zip(l1,l2):
    res.append(fun(i,j))
print res
print map(fun,l1,l2)
print map(lambda x,y:x+y,l1,l2)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [108]:
l1=range(10)
l2=range(10,20)
res=[]
for i,j in zip(l1,l2):
    res.append(i+j)
print res

print [i+j for i,j in zip(l1,l2)]
def fun(x,y):
    return x+y
res=[]
for i,j in zip(l1,l2):
    res.append(fun(i,j))
print res
print map(fun,l1,l2)
print map(lambda x,y:x+y,l1,l2)
for k in (i+j for i,j in zip(l1,l2)):
    print k

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
10
12
14
16
18
20
22
24
26
28

In [109]:
l=["23","45","24","26","45","37"]
# find the second max element form the list
for i in l:
    print i

23
45
24
26
45
37

In [110]:
l=["23","45","24","26","37","6"]
# find the second max element form the list
print max(l)

6

In [111]:
l=["23","45","24","26","37","6"]
# find the second max element form the list
l1=int(l)
print max(l)

TypeError: int() argument must be a string or a number, not 'list'

In [112]:
l=["23","45","24","26","37","6"]
# find the second max element form the list
res=[]
for i in l:
    res.append(int(i))
print max(res)

45

In [113]:
l=["23","45","24","26","37","6"]
# find the second max element form the list
res=[int(i) for i in l]
print max(res)

45

In [114]:
l=["23","45","24","26","37","6"]
# find the second max element form the list
res=(int(i) for i in l)
print max(res)

45

In [115]:
l=["23","45","24","26","37","6"]
# find the second max element form the list
res=[int(i) for i in l]
print l
print res
print max(res)

['23', '45', '24', '26', '37', '6']
[23, 45, 24, 26, 37, 6]
45

In [116]:
l=["23","45","24","26","37","6"]
# find the second max element form the list
res=map(lambda x:int(x),l)
print l
print res
print max(res)

['23', '45', '24', '26', '37', '6']
[23, 45, 24, 26, 37, 6]
45

In [117]:
l=["23","45","24","26","37","6"]
# find the second max element form the list
print max(map(lambda x:int(x),l))

45

In [118]:
#map(fun_ref,sequence,..,..,..)
print int

<type 'int'>

In [119]:
l=["23","45","24","26","37","6"]
# find the second max element form the list
print max(map(int,l))

45

In [120]:
def fun(x,y):
    return x+y
print map(fun,[10,20])

TypeError: fun() takes exactly 2 arguments (1 given)

In [121]:
def fun(x,y):
    return x+y
print map(fun,[10,20],(100,200))

[110, 220]

In [122]:
def fun(x,y):
    return x+y
print map(fun,"abcd","ghik")

['ag', 'bh', 'ci', 'dk']

In [123]:
def fun(x,y):
    c= x+y
print map(fun,"abcd","ghik")

[None, None, None, None]

In [124]:
def fun(x,y):
    c= x+y
print map("abcd","ghik")

TypeError: 'str' object is not callable

In [126]:
"abcd"('g')

TypeError: 'str' object is not callable

In [127]:
def fun(x,y):
    c= x+y
print map(fun,"abcd","ghik")

[None, None, None, None]

In [130]:
l=["23","45","24","26","37","6"]
# find the second max element form the list
res=map(int,l)
res.remove(max(res))
print max(res)

37

In [131]:
l=["23","45","24","26","37","6","45","45"]
# find the second max element form the list
res=map(int,l)
res.remove(max(res))
print max(res)

45

In [132]:
l=["23","45","24","26","37","6","45","45"]
l.remove("45")
print l

['23', '24', '26', '37', '6', '45', '45']

In [133]:
l=["23","45","24","26","37","6","45","45"]
# find the second max element form the list
res=map(int,l)
max_value=max(res)
while res.count(max_value)>0:
    res.remove(max_value)
print max(res)

37

In [135]:
l=["23","45","24","26","37","6","45","45"]
# find the second max element form the list
res=map(int,l)
res.sort()
print res
print res[-2]

[6, 23, 24, 26, 37, 45, 45, 45]
45

In [136]:
l=["23","45","24","26","37","6","45","45"]
# find the second max element form the list
res=map(int,l)
s=set(res)
print s
res.sort()
print res
print res[-2]

set([37, 6, 45, 23, 24, 26])
[6, 23, 24, 26, 37, 45, 45, 45]
45

In [137]:
l=["23","45","24","26","37","6","45","45"]
# find the second max element form the list
res=map(int,l)
s=list(set(res))
print s
res.sort()
print res
print res[-2]

[37, 6, 45, 23, 24, 26]
[6, 23, 24, 26, 37, 45, 45, 45]
45

In [139]:
l=["23","45","24","26","37","6","45","45"]
# find the second max element form the list
res=map(int,l)
s=list(set(res))
print s
s.sort()
print s[-2]

[37, 6, 45, 23, 24, 26]
37

In [140]:
keys=range(10)
values=map(lambda x:x**2,keys)
print keys
print values

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [142]:
keys=range(10)
values=map(lambda x:x**2,keys)
print keys
print values
d={}
for k,v in zip(keys,values):
    d.update({k:v})
print d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [143]:
keys=range(10)
values=map(lambda x:x**2,keys)
print keys
print values
d={}
[d.update({k:v}) for k,v in zip(keys,values)]
print d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [144]:
keys=range(10)
values=map(lambda x:x**2,keys)
print keys
print values
d={}
res=[d.update({k:v}) for k,v in zip(keys,values)]
print d
print res

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
[None, None, None, None, None, None, None, None, None, None]

In [147]:
keys=range(10)
values=map(lambda x:x**2,keys)

d={}
map(lambda x,y:d.update({x:y}),keys,values)
print d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [148]:
keys=range(10)
values=map(lambda x:x**2,keys)

d={}
res=map(lambda x,y:d.update({x:y}),keys,values)
print d
print res

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
[None, None, None, None, None, None, None, None, None, None]

In [149]:
keys=range(10)
values=map(lambda x:x**2,keys)
print dict([("k1","v1"),("k2","v2")])

{'k2': 'v2', 'k1': 'v1'}

In [150]:
keys=range(10)
values=map(lambda x:x**2,keys)
print zip(keys, values)
print dict([("k1","v1"),("k2","v2")])

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]
{'k2': 'v2', 'k1': 'v1'}

In [151]:
keys=range(10)
values=map(lambda x:x**2,keys)
print dict(zip(keys, values))
print dict([("k1","v1"),("k2","v2")])

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{'k2': 'v2', 'k1': 'v1'}